---
title: Xu Hao
excerpt: Xu Hao | 徐昊 Xiho的博客
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {%- include head.html -%}
    <link rel="stylesheet" href="{{ "/assets/css/home.css" | prepend: site.baseurl | replace:'//','/' }}">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div itemscope itemtype="http://schema.org/Person" class="home">
      <div class="main">
        <div class="content">
          <div class="my-photo">
            <img itemprop="image" alt="my photo" src="https://avatars1.githubusercontent.com/u/12512971?s=400&u=4b61cc0b1703e3212a076f9a88711d913d13b7ba&v=4.jpg" />
          </div>
          <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
          {% include follow-me.html %}
          <p><a itemprop="url" class="social-link blog" title="Visit my blog." href="/blog" target="_self">Visit My Blog</a></p>
        </div>
    </div>
    </div>
    {% include analytics.html %}
  </body>
</html>